body{
    background-color: white;
}
.myself{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2vw;
    color: white;
}
.my{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 7vw;
}